<div class="base-container">
  <div class="title">Description</div>
  <div class="description-container">
    <div>
      <a href="">NgOptimizedImage</a> ensures that the loading of the Largest Contentful Paint (LCP) image is is prioritized.
    </div>
    <ol>
      <li>Automatically setting the fetchpriority attribute on the img tag property (default value of <b>fetchpriority</b> is <b>auto</b>)</li>
      <li>Lazy loading non-priority images by default (default value of <b>loading</b> is <b>lazy</b>)</li>
      <li>Automatically generating a preconnect link tag in the document head</li>
    </ol>
    <div>
      <img ngSrc="1*4IBpfSE-wcflFJ7T0XW8Mg.png" width="800" height="400">
    </div>
  </div>

  <div class="title">How to use NgOptimizedImage?</div>
  <div class="content-container">
    <pre>
      <code [innerHTML]="escapeHtml(code)"></code>
    </pre>
  </div>

  <div class="title">Largest Contentful Paint (LCP) image</div>
  <div class="description-container">
    The Largest Contentful Paint (LCP) metric reports the render time of the largest image or text block visible within the viewport, relative to when the page first started loading.
  </div>

  <div class="title">Optimized strategies for LCP image</div>
  <div class="description-container">
    <ol>
      <li>
        Set <b>fetchPriority</b> to <b>high</b> (NgOptimizedImage: set <b>priority</b> to <b>true</b>)
      </li>
      <li>
        Set <b>loading</b> to <b>auto</b> (NgOptimizedImage: set <b>loading</b> to <b>auto</b>)
      </li>
      <li>Set the <b>srcset</b> (NgOptimizedImage: property natively according to the <b>width</b> and <b>height</b>)</li>
    </ol>
  </div>

  <div class="title">How to check if the image is FCP</div>
  <div class="lcp-container">
    <div class="content"></div>
    <ul>
      <li>
        <div>Use small image as the cover page (200 * 100): won't be marked as the LCP</div>
        <img src="../../assets/image/lcp-small.png" alt="">
      </li>
      <li>
        <div>Use large image as the cover page (2000 * 1000): will be marked as the LCP</div>
        <img src="../../assets/image/lcp-large.png" alt="">
      </li>
    </ul>
  </div>
</div>