<div class="base-container">
  <div class="title">Image Directive</div>

  <!-- title -->
  <div [ngClass]="titleClassName" (click)="toggleTitleOpen()">
    >
  </div>
  <div [ngClass]="titleSectionClassName">
    <div class="title">1. Description</div>
    <div class="description-container">
      <div>According to the 
        <a href="https://developer.chrome.com/blog/angular-image-directive/">Core Web Vitals score</a>,
         only 18.74% of Angular sites had good LCP on mobile in June 2022. Since images are the LCP element for more than 70% of the web pages on mobile and desktop, unoptimized LCP images could be one of the primary causes of poorer LCP on Angular websites.</div>
      <div class="image-container">
        <img src="../../assets/image/image-directive-cwv.png" alt="">
      </div>
      <div>
        <a href="https://angular.io/api/common/NgOptimizedImage#description">
          NgOptimizedImage
        </a> is developed by Angular team and the <a href="https://developer.chrome.com/blog/introducing-aurora/">Google Aurora team</a>. 
        It ensures that the loading of the 
        <a href="https://web.dev/articles/lcp">
          Largest Contentful Paint (LCP)
        </a>
         image is is prioritized by setting the following things automatically. 
      </div>
      <ol>
        <li>Set the 
          <a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement/fetchPriority">
            fetchpriority
          </a>
           attribute to <b>auto</b> by default
        </li>
        <li>Set the 
          <a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement/loading">
            loading
          </a>
          attribute to <b>lazy</b> for non-priority images by default
        </li>
        <li>Generate the 
          <a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement/srcset">
            srcset
          </a>
           property according to the <b>width</b>, <b>height</b>, or <b>size</b> properties
        </li>
        <li>Generate a 
          <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/rel/preconnect">
            preconnect
          </a>
           link tag in the document head by default
           <pre>
            <code [innerHTML]="escapeHtml(preconnectCode)"></code>
          </pre>
        </li>
        <li>
          When the <b>priority</b> is <b>true</b>, the 
          <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/rel/preload">
            preload
          </a>
          link tag will be added in the document head (only for <a href="https://github.com/angular/angular/pull/47343">Angular Universal</a>)
          <pre>
           <code [innerHTML]="escapeHtml(preloadCode)"></code>
         </pre>
        </li>
      </ol>
      <div>
        The Largest Contentful Paint (LCP) metric reports the render time of the largest image or text block visible within the viewport, relative to when the page first started loading.
      </div>
    </div>
  </div>
  
  <!-- content -->
  <div [ngClass]="contentClassName" (click)="toggleContentOpen()">
    >
  </div>
  <div class="title">2. How to check if the image is FCP?</div>
  <div class="lcp-container">
    <div class="content"></div>
    <ul>
      <li>
        <div>Use small image as the cover page (200 * 100): won't be marked as the LCP</div>
        <img src="../../assets/image/lcp-small.png" alt="">
      </li>
      <li>
        <div>Use large image as the cover page (2000 * 1000): will be marked as the LCP</div>
        <img src="../../assets/image/lcp-large.png" alt="">
      </li>
    </ul>
  </div>

  <div [ngClass]="contentSectionClassName">
    <div class="title">3. How to use NgOptimizedImage?</div>
    <div class="content-container">
      <ol>
        <li>
          <div>Basic usage</div>
          <pre>
            <code [innerHTML]="escapeHtml(code)"></code>
          </pre>
          <div>
            <img ngSrc="1*4IBpfSE-wcflFJ7T0XW8Mg.png" width="800" height="400">
          </div>
        </li>
        <li>
          Check the 
          <a href="https://angular.io/api/common/NgOptimizedImage#description">
            parameters of NgOptimizedImage
          </a>
        </li>
      </ol>
    </div>

    <div class="title">4. Optimized strategies for LCP image</div>
    <div class="description-container">
      <div>In the development mode, NgOptimizedImage can throw warning message for instructing developers by integrating the 
        <a href="https://developer.mozilla.org/en-US/docs/Web/API/PerformanceObserver">PerformanceObserver API</a>
      </div>
      <img src="../../assets/image/image-directive-warning-message.png" alt="">
      <div>There are a few things to do when we make sure the image belongs to LCP.</div>
      <ol>
        <li>
          Set <b>priority</b> to <b>true</b>
        </li>
        <li>
          Set <b>loading</b> to <b>auto/eager</b>
        </li>
        <li>
          Add the <b>preload</b> img tag
        </li>
        <li>
          Set the <b>srcset</b> (<a href="https://blog.twitter.com/engineering/en_us/topics/infrastructure/2019/capping-image-fidelity-on-ultra-high-resolution-devices#:~:text=3x%20resolution%20screens%20are%20wasteful">Descriptors higher than 2x are generally not recommended</a>)
        </li>
      </ol>
    </div>
  </div>

  <!-- reference -->
  <div [ngClass]="referenceClassName" (click)="toggleReferenceOpen()">
    >
  </div>
  <div [ngClass]="referenceSectionClassName">
    <div class="title">5. Reference</div>
    <div class="content-container">
      <ul>
        <li>
          <a href="https://netbasal.com/say-goodbye-to-setters-and-getters-angulars-transform-option-for-input-values-88fd9442dcad">
            Say Goodbye to Setters and Getters: Angular Transform Option for Input Values
          </a>
        </li>
        <li>
          <a href="https://developer.chrome.com/blog/angular-image-directive/">
            Optimizing Images with the Angular Image Directive
          </a>
        </li>
        <li>
          <a href="https://angular.io/api/common/NgOptimizedImage">
            NgOptimizedImage
          </a>
        </li>
        <li>
          <a href="https://www.shubo.io/responsive-image/#img-srcset-%E5%B1%AC%E6%80%A7">
            [教學] 如何使用 img srcset 讓圖片在 RWD 網頁顯示適當解析度
          </a>
        </li>
        <li>
          <a href="https://www.shubo.io/preload-prefetch-preconnect/#preconnect">
            [教學] Preload, Prefetch 和 Preconnect 的差異
          </a>
        </li>
        <li>
          <a href="https://web.dev/articles/lcp?hl=zh-tw#what_elements_are_considered">
            Largest Contentful Paint (LCP)
          </a>
        </li>
        <li>
          <a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement/fetchPriority">
            HTMLImageElement: fetchPriority property
          </a>
        </li>
        <li>
          <a href="https://www.hostinger.com/tutorials/largest-contentful-paint">
            Largest Contentful Paint (LCP): What It Is and 11 Ways to Improve It 
          </a>
        </li>
        <li>
          <a href="https://www.twicpics.com/blog/how-to-find-the-lcp-element-a-complete-guide">
            How to find the Largest Contentful Paint element? A complete guide.
          </a>
        </li>
      </ul>
    </div>    
  </div>

</div>