.base-container {
  .content-container {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    margin-bottom: 1em;
    font-style: normal;
    font-weight: 400;
    code {
      color: #3e3636;
    }
  }

  .description-container {
    width: 30em;
    font-size: 1.2em;
    margin: 0 auto 4em;
    font-style: normal;
    font-weight: 400;
  }

  .debugging-container {
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    .content {
      width: 40em;
      margin: 0 auto;
    }
    li {
      width: 40em;
      margin: 1em auto;
      img {
        width: 40em;
      }
    }
  }

  .demo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  
  .title {
    font-size: 1.8em;
    text-align: center;
    margin: 1em;
    font-style: normal;
    font-weight: 400;
    width: 100%;
  }
}