<div class="base-container">
  <div class="title">Routing List improvement</div>

  <!-- title -->
<div [ngClass]="titleClassName" (click)="toggleTitleOpen()">
    >
  </div>
  <div [ngClass]="titleSectionClassName">
    <div class="title">1. Description</div>
    <div class="description-container">
      <div>
        In the routing module, the code for <b>loadComponent</b> can be refactored that we won't have to specify the default component
      </div>
    </div>
  </div>
  
  <!-- content -->
  <div [ngClass]="contentClassName" (click)="toggleContentOpen()">
    >
  </div>
  <div [ngClass]="contentSectionClassName">
    <div class="title">2. How to use?</div>
    <div class="content-container">
      <pre>
        <code [innerHTML]="escapeHtml(code)"></code>
      </pre>
    </div>
  </div>
  
</div>