.app-container {
  height: 100%;
  display: flex;
  .sider-bar {
    width: 15em;
    background-color: #fff;
    .title {
      font-size: 1.1em;
      text-align: center;
      padding: 1em 0 ;
      font-family: audrielle-no1, sans-serif;
      font-style: normal;
      font-weight: 400;
      background-color: #fff;
    }
    .footer {
      font-size: .9em;
      font-family: audrielle-no1, sans-serif;
      top: calc(50% - 4em);
      position: relative;
      margin: 0 .2em 0 0;
      text-align: center;
      span {
        margin-right: 1em;
      }
    }
  }
  .app-content {
    min-width: calc(100% - 20em);
    .portal-container {
      min-height: calc(100vh - 100px);
      margin-top: .3em;
    }
  }
}
  
.tabs {
  margin: 0 1em 0 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #cecece;
  height: 100%;
}
    
.tab-item {
  width: 15em;
  font-size: .9em;
  margin: 0 0.1em 0.7em 0.1em;
  padding: .3em;
  border-radius: .1em;
  background-color: #fff;
  cursor: pointer;
  font-family: audrielle-no1, sans-serif;
  font-style: normal;
  font-weight: 400;
  border: none;
  color: #cecece;
  &:hover {
    color: #000;
  }
}
    
    .tab-item.current {
      color: #fff;
      background-color: #2b2828;
    }
  
    .tab-content {
      padding: 1em;
    }