.title {
    font-size: 2.2em;
    text-align: center;
    margin-top: 1em;
    font-family: audrielle-no1, sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  
  .portal-container {
    min-height: calc(100vh - 100px);
  }
  
  .footer {
    text-align: right;
    padding-right: 1em;
    font-size: 1.2em;
    span {
      margin-right: 1em;
    }
  }
  
.tabs {
  margin: 1em 1em 0 0;
  width: 100%;
}
    
.tab-item {
  min-width: 10em;
  font-size: 1.2em;
  margin: 0 0.1em 0.1em 0.1em;
  padding: .3em;
  border-radius: .1em;
  background-color: #fff;
  cursor: pointer;
  font-family: audrielle-no1, sans-serif;
  font-style: normal;
  font-weight: 400;
}
    
    .tab-item.current {
      color: #fff;
      background-color: #2b2828;
    }
  
    .tab-content {
      padding: 1em;
    }