<div class="header">
  <div class="title">
    {{title}}
  </div>
  <div class="tabs">
    <button [ngClass]="getRouteStyle('STAND_ALONE')"
      mat-button (click)="changeRoute('standalone')">
      Stand-alone component
    </button>
    <button [ngClass]="getRouteStyle('DIRECTIVE_COMPOSITION')"
      mat-button (click)="changeRoute('directive')">
      Directive Composition API
    </button>
    <button [ngClass]="getRouteStyle('NOTES')"
      mat-button (click)="changeRoute('notes')">
      Notes
    </button>
  </div>
</div>

<div class="portal-container">
  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="footer">
  <span>Copy right
    <a href="https://www.linkedin.com/in/jen-hsuan-hsieh-6a13347a/">@ Jen-hsuan Hsieh 2023</a> (built with Angular v14)</span>
  <a href="https://daily-learning.herokuapp.com/">daily-learning</a>
</div>