<div class="app-container">
  <div class="sider-bar">
    <div class="tabs">
      <a class="title-container" href="/home">
        <img src="../assets/image/angular-logo.png" alt="">
        <div class="title">
          {{title}}
        </div>
      </a>
      <button [ngClass]="getRouteStyle('STAND_ALONE')"
        mat-button (click)="changeRoute('standalone')">
        Standalone Component
      </button>
      <button [ngClass]="getRouteStyle('DIRECTIVE_COMPOSITION')"
        mat-button (click)="changeRoute('directive')">
        Directive Composition API
      </button>
      <button [ngClass]="getRouteStyle('IMAGE_DIRECTIVE')"
        mat-button (click)="changeRoute('image-directive')">
        Image Directive
      </button>
      <button [ngClass]="getRouteStyle('ROUTE_UNWRAP_DEFAULT')"
        mat-button (click)="changeRoute('route-unwrap')">
        Router Syntax Improvement
      </button>
      <button [ngClass]="getRouteStyle('FUNTIONAL_ROUTE_GUARDS')"
        mat-button (click)="changeRoute('route-guard')">
        Functional Router Guards
      </button>
      <button [ngClass]="getRouteStyle('AUTHORED_CODE')"
        mat-button (click)="changeRoute('authored-code')">
        Debug with the Authored Code
      </button>
      <button [ngClass]="getRouteStyle('IGNORED_LIST')"
        mat-button (click)="changeRoute('ignored-list')">
        Debug with the Ignored List
      </button>
      <button [ngClass]="getRouteStyle('RANGE_SELECTION_SUPPORT')"
        mat-button (click)="changeRoute('range-selection-support')">
        Angular Material 15 - Range Selection Support
      </button>
      <button [ngClass]="getRouteStyle('CDK_LIST_BOX')"
        mat-button (click)="changeRoute('cdk-list-box')">
        Angular CDK 15 - List Box
      </button>
      <button [ngClass]="getRouteStyle('ESBUILD')"
        mat-button (click)="changeRoute('esbuild')">
        esbuild Supported on the ng build --watch (Experimental Feature)
      </button>
      <button [ngClass]="getRouteStyle('LANGUAGE_SERVIVE_IMPROVEMENT')"
        mat-button (click)="changeRoute('language-service-improvement')">
        Language Service Improvement
      </button>
      <button [ngClass]="getRouteStyle('DATE_PIPE')"
        mat-button (click)="changeRoute('date-pipe')">
        Date Pipe
      </button>
      <button [ngClass]="getRouteStyle('NOTES')"
        mat-button (click)="changeRoute('notes')">
        Notes
      </button>
      <div class="footer">
        <div>
          Copyright @ 2023,
          <a href="https://www.linkedin.com/in/jen-hsuan-hsieh-6a13347a/">Jen-hsuan Hsieh</a>
        </div>
        <div>
          Last updated at {{updateTime}}
        </div>
        <div><a href="of_alpha@hotmail.com">Contact me</a></div>
      </div>
    </div>
  </div>
  <div class="app-content">
    <div class="portal-container">
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>