<div class="base-container">
  <div class="title">Description</div>
  <div class="description-container">
    <div>
      We are able to trace the call stack with ignoring the ignored list. (Not limited to Angular v15)
    </div>
    <ol>
    </ol>
  </div>

  <div class="title">How to navigate to the authored code</div>
  <div class="debugging-container">
    <div class="content"></div>
    <ol>
      <li>
        <div>Enable the ignored list for the known third-party scripts from source maps (<b>DevTools > Settings > Ignored List</b>)</div>
        <img src="../../assets/image/ignored-list-setting-1.png" alt="">
      </li>
      <li>
        <div>Hide the ignored list in the source tree view (<b>DevTools > Settings > Experiments > Hide the ignored list in the source tree view</b>)</div>
        <img src="../../assets/image/ignored-list-setting-1.png" alt="">
      </li>
    </ol>
  </div>

  <div class="title">Demo</div>
  <div class="debugging-container">
    <div class="content"></div>
    <ol>
      <li>
        <div>The callback will show without the ignored list</div>
        <img src="../../assets/image/ignored-list-demo-1.png" alt="">
      </li>
      <li>
        <div>When opening the <b>Quick Open</b> menu, it will hide the file from the ignored list</div>
        <img src="../../assets/image/ignored-list-demo-2.png" alt="">
      </li>
    </ol>
  </div>

  <div class="title">Reference</div>
  <div class="content-container">
    <ul>
      <li>
        <a href="https://developer.chrome.com/blog/devtools-modern-web-debugging/">
          Modern web debugging in Chrome DevTools
        </a>
      </li>
    </ul>
  </div>
</div>