<div class="title">Other features</div>
<div class="content-container">
  <ul>
  </ul>
</div>

<div class="title">Other features</div>
<div class="content-container">
  <ul>
    <li>Functional router guards</li>
  </ul>
</div>

<div class="title">Reference</div>
<div class="content-container">
  <ul>
    <li>
      <a href="https://blog.angular.io/angular-v15-is-now-available-df7be7f2f4c8">
        Angular v15 is now available!
      </a>
    </li>
    <li>
      <a href="https://fullstackladder.dev/blog/2022/11/20/angular-directive-composition-api-introduction/">
        Directive composition API 初體驗
      </a>
    </li>
    <li>
      <a href="https://netbasal.com/say-goodbye-to-setters-and-getters-angulars-transform-option-for-input-values-88fd9442dcad">
        Say Goodbye to Setters and Getters: Angular Transform Option for Input Values
      </a>
    </li>
    <li>
      <a href="https://developer.chrome.com/blog/angular-image-directive/">
        Optimizing Images with the Angular Image Directive
      </a>
    </li>
    <li>
      <a href="https://angular.io/api/common/NgOptimizedImage">
        NgOptimizedImage
      </a>
    </li>
    <li>
      <a href="https://www.shubo.io/responsive-image/#img-srcset-%E5%B1%AC%E6%80%A7">
        [教學] 如何使用 img srcset 讓圖片在 RWD 網頁顯示適當解析度
      </a>
    </li>
    <li>
      <a href="https://www.shubo.io/preload-prefetch-preconnect/#preconnect">
        [教學] Preload, Prefetch 和 Preconnect 的差異
      </a>
    </li>
    <li>
      <a href="https://web.dev/articles/lcp?hl=zh-tw#what_elements_are_considered">
        Largest Contentful Paint (LCP)
      </a>
    </li>
    <li>
      <a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement/fetchPriority">
        HTMLImageElement: fetchPriority property
      </a>
    </li>
    <li>
      <a href="https://www.hostinger.com/tutorials/largest-contentful-paint">
        Largest Contentful Paint (LCP): What It Is and 11 Ways to Improve It 
      </a>
    </li>
    <li>
      <a href="https://www.twicpics.com/blog/how-to-find-the-lcp-element-a-complete-guide">
        How to find the Largest Contentful Paint element? A complete guide.
      </a>
    </li>
  </ul>
</div>