<div class="base-container">

<div class="title">Other features</div>
<div class="content-container">
  <ul>
    <li>Functional router guards</li>
    <li>Release MDC-based components to stable</li>
    <li>Support TypeScript 4.8</li>
  </ul>
</div>

<div class="title">Reference</div>
<div class="content-container">
  <ul>
    <li>
      <a href="https://blog.angular.io/angular-v15-is-now-available-df7be7f2f4c8">
        Angular v15 is now available!
      </a>
    </li>
    <li>
      <a href="https://devm.io/angular/angular-15-features-javascript">
        Angular 15: New Features and Breaking Changes
      </a>
    </li>
  </ul>
</div>
</div>