.content-container {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  font-family: audrielle-no1, sans-serif;
  font-style: normal;
  font-weight: 400;
  li {
    font-size: 1em;  
  }
}
    
.demo-container {
  display: flex;
  justify-content: center;
}
      
.title {
  font-size: 1.8em;
  text-align: center;
  margin: 1em;
  font-family: audrielle-no1, sans-serif;
  font-style: normal;
  font-weight: 400;
}