<div class="base-container">
  <div class="page-title">{{ title }}</div>
  
  <!-- title -->
  <app-section-container>
    <div class="title">1. Description</div>
    <div class="description-container">
      <div>
        As we mentioned in 
        <a href="https://glistening-cupcake-ead467.netlify.app">Notes of Angular v14</a>, 
        Angular has began the experimental supports on esbuild.
      </div>
      <div>
          In Angular 15, there are a few new supports for the esbuild.
      </div>
      <ol>
        <li>Experimental SASS</li>
        <li>SVG template</li>
        <li>File replacement</li>
        <li>ng build --watch</li>
      </ol>
      <div class="item">
        This is a timeline of the esbuild + Vite feature.
      </div>
      <ol class="time-line-container">
        <li class="time-line-item">
          <div>
            <div>v14</div>
            <a href="https://glistening-cupcake-ead467.netlify.app/">
              Experimental Feature
            </a>
          </div>
        </li>
        <li class="time-line-item">
          <div>
            <div>v15</div>
            <a href="https://verdant-fenglisu-1b7a2d.netlify.app/#/esbuild">
              Experimental Feature
            </a>
          </div>
        </li>
        <li class="time-line-item">
          <div>
            <div>v16</div>
            <a href="https://marvelous-gnome-0802fa.netlify.app/#/esbuild">
              Developer Preview 
            </a>
          </div>
        </li>
        <li class="time-line-item">
          <div>
            <div>v17</div>
            <a href="https://chimerical-cocada-121bf6.netlify.app/#/esbuild">
              Enhancement
            </a>
          </div>
        </li>
      </ol>
    </div>
  </app-section-container>

  <!-- content -->
  <app-section-container>
    <div class="title">2. How to use?</div>
    <div class="content-container">
      <pre>
        <code [innerHTML]="steps"></code>
      </pre>
    </div>
  </app-section-container>

  <!-- demo -->
  <app-section-container>
    <div class="title">3. Demo</div>
    <div class="demo-container">
      <img src="../../assets/image/esbuild-watch-demo.png" alt="">
    </div>
  </app-section-container>
</div>