<div class="base-container">
  <div class="title">Language Service Improvement</div>
  
  <!-- title -->
  <app-section-container>
    <div class="title">1. Description</div>
    <div class="description-container">
      <div>
        In the component, the language service could import the corresponding component used in the <b>template</b> 
      </div>
    </div>
  </app-section-container>
    
  <!-- demo -->
  <app-section-container>
    <div class="title">2. Demo</div>
    <div class="demo-container">
      <img src="../../assets/image/language-service-demo.png" alt="">
    </div>
  </app-section-container>

</div>