<div class="base-container">
  <div class="page-title">{{ title }}</div>
  
  <app-section-container>
    <div class="title">1. Description</div>
    <div class="description-container">
      <div class="item">
        This is a timeline of the standalone API.
      </div>
      <ol class="time-line-container">
        <li class="time-line-item">
          <div>
            <div>v14</div>
            <a href="https://glistening-cupcake-ead467.netlify.app/">
              Developer Preview
            </a>
          </div>
        </li>
        <li class="time-line-item">
          <div>
            <div>v15</div>
            <a href="https://verdant-fenglisu-1b7a2d.netlify.app/#/standalone">
              Enhancements
            </a>
          </div>
        </li>
        <li class="time-line-item">
          <div>
            <div>v16</div>
            <a href="https://marvelous-gnome-0802fa.netlify.app/#/standalone">
              Enhancements
            </a>
          </div>
        </li>
        <li class="time-line-item">
          <div>
            <div>v17</div>
            <a href="https://chimerical-cocada-121bf6.netlify.app/#/standalone">
              Enhancements
            </a>
          </div>
        </li>
      </ol>
      <div>
        In Angular 15, the stand-alone component is out of the developer view. As we mentioned in 
        <a href="https://glistening-cupcake-ead467.netlify.app">Notes of Angular v14</a>, 
        it has the following advantages.
      </div>
      <ol>
        <li>For the frictionless component creation</li>
        <li>The stand-alone component can simplify learning journey</li>
        <li>The stand-alone component can manage dependencies in Component stead of NgModule()</li>
        <li>The stand-alone component can be lazy loaded</li>
      </ol>
    </div>
  </app-section-container>
  
  <app-section-container>
    <div class="title">2. How to Create a stand-alone component using CLI?</div>
    <div class="content-container">
      <code [innerHTML]="escapeHtml(stanaloneInstruction)"></code>
    </div>

    <div class="title">3. Code for creating new stand-alone component</div>
    <div class="content-container">
      <pre>
        <code [innerHTML]="escapeHtml(code)"></code>
      </pre>
    </div>

    <div class="title">4. Code for removing app.module.ts</div>
    <div class="content-container">
      <pre>
        <code [innerHTML]="escapeHtml(removeModuleCode)"></code>
      </pre>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title">5. Demo</div>
    <div class="demo-container"> 
      <ng-container *ngFor="let index of [1, 2, 3, 4, 5]">
        <app-stand-alone-item [index]="index"></app-stand-alone-item>
      </ng-container>
    </div>
  </app-section-container>

</div>