.content-container {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    margin-bottom: 4em;
    font-family: audrielle-no1, sans-serif;
    font-style: normal;
    font-weight: 400;
    code {
        color: #3e3636;
    }
}

.description-container {
  width: 30em;
  font-size: 1.2em;
  margin: 0 auto 4em;
  font-family: audrielle-no1, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.demo-container {
  width: 25em;
  display: flex;
  margin: 0 auto;
}
  
.title {
  font-size: 1.8em;
  text-align: center;
  margin: 1em 1em 1em 1em;
  font-family: audrielle-no1, sans-serif;
  font-style: normal;
  font-weight: 400;
}